<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105575241946-gput030614dgla1e9b9k83qr63jnv9hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105575241946-gput030614dgla1e9b9k83qr63jnv9hg</string>
	<key>API_KEY</key>
	<string>AIzaSyDVSWbOf1FRZ2koxBBt2l8Svn45aPQOxmw</string>
	<key>GCM_SENDER_ID</key>
	<string>105575241946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bohdantkachenko.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-f7db5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-f7db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105575241946:ios:6d301c81d410534c5cede3</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-f7db5.firebaseio.com</string>
</dict>
</plist>